/**---------------Responsive Set------------------------------------------**/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .col-lg-4 .row img{
        padding-left: 90px;
    }
    .col-md-4 img{
      max-width: 210px;
     }
     .col-md-4 .price1{
       left: 55px;
       bottom: 140px;
     }
     .col-md-4 .price2{
      left: 10px;
      bottom: 140px;
    }
    .col-md-4 span.tag{
      top: 10px;
      right: 20px;
    }
    .row .tag1{
        right: 50px;
    }
    #col{
   display: none;
    }
    .title-widget-bg .col-md-4{

    }
    #btnContainer{
        padding-left: 440px;
    }
    #search1{
        display: none;
      }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   .carousel span{
       right: 290px;
       top: 20px;
       height: 30px;
   }
   .carousel img{
       height: 300px;
   }
   .carousel .lead{
       font-size: 1em;
       margin-top: -80px;
       padding-top: 10px;

   }
   .carousel h1{
    font-size: 2em;
    top: 50px;
   
}
.carousel-inner{
    height: 300px;  
} 
.btn-group{
    top: 220px;
    height: 40px;
}
.carousel .carousel-item{
    height: 300px; 
}
.carousel-indicators .row{
 padding-left: 20px;
}
.col-lg-4 span.tag{
    top: 60px;
    left: 70px;
}
.row .tag1{
    font-size: 0.8725em;
    right: 50px;
}
.row h5{
    font-size: 1em;
}
.col-lg-4 .row img{
    padding-left: 90px;
    height: 40px;
    margin-top: -20px;
}
.date_text{
    width: 300px;
}
#btnContainer{
    padding-left: 170px;
}
#down{
font-size: 0.56em;
}
.row h5{
font-size: 0.8725em;
}
.top_bg h3{
    font-size: 1em;
}
#drop{
    height: 200px;
}

.col-sm #s1{
    top: -30px;
    left: 80px;
    font-size: 0.8725em;
}
.col-sm #s2{
    top: 30px;
    left: 80px;
    font-size: 0.8725em;
}
.col-sm #s3{
    top: 90px;
    left: 80px;
    font-size: 0.8725em;
}
.col-md-2{
    position: absolute;
    padding-left: 250px;
}
#s{
 display: none;
}
.col-lg-6{
    height: 200px;
}

#search1{
    padding-left: 110px;
    position: absolute;
    margin-top:-45px; 

}
form.example input[type=text] {
    
    font-size: 15px;
    background: white;
  }
 #blog{
     padding-bottom: 90px;
 }

}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 


    #search1{
        display: none;
      }
    
}


