body{
  font-family: 'Roboto', sans-serif;
  
}
h2{
  color:#20B2AA;
  font-size:20px;
}
/* Search icon */
form.example input[type=text] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid #32383e;
  float: left;
  width: 50%;
  background: #32383e;
}
.nav-item a{
border-left: 1px solid #32383e;
}


/* Style the submit button */
form.example button {
  float: left;
  width: 15%;
  padding: 10px;
  background:#32383e;
  color: #6c757d;
  font-size: 17px;
  border: 1px solid #32383e;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  position:relative;
  
  bottom:7px;
  
  
}



/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}


/*Login Register */

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
  
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;

}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #0a0a0a;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  
}

/*Nav bar */ 

.allprice:hover{
  background-color: #20B2AA;
}
.col-md-2{
  float: right;
  margin-top: -40px;
}

.login{
  color: #6c757d;
  position: relative;
  top:7px;
}
.nav-link{
   font-weight: bold;
}
  
/*Slider */ 

.carousel .container {
position: relative;
}
.carousel .carousel-item {
height: 500px;
}
.carousel img {
position: absolute;
top: 0;
left: 0;
min-width: 100%;
height: 500px;
}
.meta {
background-color: transparent;
position: static;
max-width: 550px;
padding: 0 20px;
margin-top: 200px;
float: right;
}
.carousel .lead {
   
  color: black;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  padding-top: 100px;
  }
 .carousel-caption h6,
 .carousel-caption p
 {
 color:black;
 }
.carousel-span{
background-color: #20B2AA;
position: absolute;
width: 50px;
height: 50px;
right: 490px;
top: 150px;
}
.carousel-indicators{
  background-color: #242424;
  position: inherit;
  padding-bottom: 30px;
 
}
.carousel-indicators h6{
  background-color: #242424;
  color: #DFDBD4;
}
.top_bg{
  background-color: #242424;
  padding-bottom: 20px;
  padding-top: 20px;
}
.carousel-indicators li {
  text-indent: 0;
  width: 200px;
  padding-bottom: 10px;
  background-color: #20B2AA;
}
.carousel-indicators li.active, .carousel-indicators li:hover {
  
  width: 200px;
  padding-bottom: 10px;
  background-color: #20B2AA;
}
.carousel-indicators .row{
  padding-top: 20px;
  padding-left: 50px;
}
.carousel-indicators .row p{
  padding-top: 10px;
  padding-left: 50px;
}
.container .top_bg {
  background-color: #EBE7DF;
}
.btn-group{
background-color: white;
border-style: solid; 
border-width: 1px;
border-color: gray;
position: absolute;

top: 390px;
}
.btn-group button:hover{
background-color: #20B2AA;
}
.carousel h1{
  position: absolute;
  top: 200px;
}

/*Homepage */
#homepage{

background-color: #0a0a0a;
}
#homepage1{
background-color: #EBE7DF;
}


.col-lg-3{
background: #DFDBD4;
}
.col-lg-6{
background: #DFDBD4;
}
a:hover{
color: #20B2AA;
}
.col-lg-4 span.tag{
position: absolute;
padding: 10px 20px;
color:white;
background:black;
font-size:1.5em;
text-transform: uppercase;
top:50px;
left:60px;
}
.col-lg-12 span.tag{
  position: absolute;
  padding: 10px 20px;
  color:white;
  background:black;
  font-size:1.5em;
  text-transform: uppercase;
  top:30px;
  left:50px;
}
.col-lg-4 span:hover{
  background-color: #20B2AA;
}
.col-lg-4  span{
position: relative;
}
.col-lg-12 span{
  position: absolute;
  left: 100px;
}
.price{
background-color: #57C5A0;
color: #ffffff;
font-size:0.8725em;
padding:25px 12px;
position: absolute;
bottom:0px;
left:10px;
}
.price1.bg{
background: #000000;
}
.price1{
font-size: 0.8725em;
color: #EBEBEB;
padding: 15px 10px;
position: absolute;
bottom: 210px;
left: 145px;
}
.col-lg-12 .price1{
  font-size: 0.8725em;
  color: #EBEBEB;
  padding: 15px 10px;
  position: absolute;
  bottom: 250px;
  left: 310px;
}
.price2{
background: #e24d09;
}
.col-lg-12 .price2{
  font-size: 0.8725em;
  color: #EBEBEB;
  padding: 15px 10px;
  position: absolute;
  bottom: 250px;
  left: 270px; 
}
.price2{
font-size: 0.8725em;
color: #EBEBEB;
padding: 15px 10px;
position: absolute;
bottom: 210px;
left: 105px;
}
.col-6 col-md-4 span{
position: relative;
}
.date{
background-color: #57C5A0;
color: #ffffff;
font-size:0.8725em;
padding:15px 10px;
position: absolute;
left:10px;
}
.date_text{
position: absolute;
padding-left: 60px;
width: 500px;
}
.col-lg-4 h3{
border-top:1px solid #EBEBEB;
padding:10px;
font-size:1.2em;
color: #000000;
float: right;
padding-right: 150px;
}
.col-lg-4 .row img{
  padding-left: 120px;
}
.col-lg-12 .row img{
padding-left: 160px;
}
#btnContainer{
  position: absolute;
  padding-left: 810px;
  margin-top: -40px;
 
 
}
#down{
  background-color: #EBE7DF;
  border: 1px solid #32383e;
  color: #BCB4A7;
}

/*Footer */
.f-widget{
width: 100%;
height:auto !important;
border-top:1px solid #000000;
border-bottom:1px solid #000000;
background-color:black;
max-width: 100%;
}
.title-widget-bg .col-lg-3{
background-color: #000000;
padding:10px;
}
.title-widget-bg h3{
font-size: 1.2em;
color:#5e5e5e;
}
.title-widget-bg p{
font-size: 0.8725em;
color:#9B9B9B;
line-height: 1.8em;
font-style: italic;
}
.title-widget-bg p a{
color:#57C5A0;
transition: all 0.3s;
}
.col col-lg-2 img{
 padding: 10px;
}
.fsoc span:hover{
background-color: #20B2AA;
}
.fsoc span{
 color:#5e5e5e;
}
.navbar{
 background-color: #000000;
}
#drop {
width: 100%;
vertical-align: baseline;
background-color: #242424;
}
.top_bg h3{
 color: #EBE7DF;
 padding-top: 10px
}
.f_search input {
  background-color: #2e2e2e;
  border: 1px;
}
.f_search span{
 color: #9B9B9B;
}
.row .footer{
color: #9B9B9B;
}
.col-sm select{
color: #DFDBD4;
background-color: #2e2e2e;
border-color:#6c757d;
position: absolute;
height: 50px;
width: 200px;
font-size: 1.2em;
padding-top: 0px;
}
.col-sm{
padding-top: 10px;
}

  * {
    box-sizing: border-box;
  }
  

/* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 10px 10px;
    background-color: #f1f1f1;
    cursor: pointer;
  
  }
  .btn:hover {
    background-color: #ddd;
  }
  .btn.active {
    background-color: #EBE7DF;
    color: white;
    border-color: #5e5e5e;
    border: 1px solid #32383e;
  }
  .col-lg-12 span.tag{
    position: absolute;
    padding: 15px 30px;
    
    background:black;
    font-size:1.5em;
    text-transform: uppercase;
    top:30px;
    left:10px; 
  }
  .col-lg-12 img{
    border-top:1px solid #EBEBEB;
    padding:10px;
    padding-left: 80px;
    font-size:1.2em;
    color: #000000;
    
    padding-right: 150px;
  }
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
}
.col-lg-4:hover .overlay {
  opacity: 1;
}
.btn-group1 {
  color: white;
  font-size: 5px;
  position: absolute;
  top: 93%;
  left: 48%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  border-style: solid; 
  border-width: 1px;
  border-color: gray;
background-color:#EBE7DF;
}
.btn-group1 button:hover{
  background-color: #20B2AA;
  }
 
 

 
.row .tag1{
position: absolute;
color: #BCB4A7;
background-color: #EBE7DF;
right: 220px;
font-size: 1.2em;
border: 1px solid #32383e;
padding: 5px 5px;
}
.row .tag1:hover{
background-color: #DFDBD4;
}

  

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
  }
  
  
  
  .lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  }
  
  /* Styles the close link, adds the slide down transition */
  
  a.lightbox-close {
  display: block;
  width:50px;
  height:50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  }
  a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    }
  
  a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
  }
  
  /* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
  
  .lightbox-target:target {
  opacity: 1;
  top: 300px;
  bottom: 300px;
  left: 50px;
  }
  
  .lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
  height: 200px;
  width: 200px;
  }
  
  .lightbox-target:target a.lightbox-close {
  top: 0px;
  left: 20px;
  }
 
 .main_bg{
   background-color: #000000;
   padding-bottom: 20px;
   padding-top: 20px;
 }
 .top_main{
   background-color: #EBE7DF;
 }
 .ie11 #search1 { 
   display: none !important;
  }
  
.gecko .col-lg-4 .row img{
  height: 50px;
}